<% if @room.photos.count > 0 %>
    	<%= image_tag @room.photos.first.image.url(:large), class: "img-responsive" %>
    	<% end %>
    	</div>

<!-- About -->
<!-- <div class="row text-center row-space-1">
	<h4><%= @room.address %></h4>
  <br>
  <h2><%= @room.summary %></h2>
  <h2><%= @room.price %></h2>
</div>
</div> -->